<html>
<head>
<style>
td.testCell {
	color: green; background-color: yellow;
}
body {
	/*background-image: url('http://vbeta.pl/images/2010/11/onet1.jpg');*/
	margin: 0 auto;
	padding: 0;
}
@page {
    size: A4;
    margin: 15mm 35mm;

    @top-center {content: element(header);}
}

#header {
   position: running(header);
   height:25mm;
   margin-left:25mm;
}

</style>
</head>
<body style="background: pink;/*background-image: url('http://vbeta.pl/images/2010/11/onet1.jpg')*/">

<div id="header">
	Copyright 2006 The Flying Saucer Team
</div>

<div style="/*background-image: url('http://vbeta.pl/images/2010/11/onet1.jpg')*/">
Aboo.

<div style="background-color: #cc0011;">
<strong>TEST</strong>
</div>

<img src="" />

<table width="100%">
	<tr>
		<td class="testCell">abc</td>
		<td>def</td>
	</tr>
	<tr>
		<td>ghi</td>
		<td>jkf</td>
	</tr>
</table>

${ fromMail }


<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae vehicula quam. Sed mollis, leo non congue tristique, mi risus fringilla purus, eget luctus nisi diam ut velit. Donec sit amet lorem ornare purus consequat fermentum. Nullam sollicitudin, elit id fringilla euismod, odio orci volutpat tellus, id tincidunt dui felis eu nisl. In elit mi, gravida a molestie vitae, egestas non neque. Pellentesque quis orci et erat molestie tincidunt. Nulla facilisi.
</p>
<p>
Cras dolor sapien, fringilla eget libero ac, cursus pulvinar nibh. Mauris bibendum mollis dapibus. Nulla eget neque vel massa malesuada euismod. Vestibulum quis massa pretium, pellentesque urna sed, placerat neque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vel venenatis metus, nec semper odio. Donec fringilla sapien id elit tincidunt malesuada. Duis at mollis dolor. Curabitur ante mi, sagittis eget magna nec, pretium gravida nulla. Sed congue augue a dolor luctus lobortis. Curabitur interdum urna a quam fermentum egestas. Nulla sodales rutrum felis aliquam iaculis.
</p>
<p>
Praesent rhoncus, quam interdum posuere venenatis, nibh mauris accumsan augue, ac tristique diam purus et erat. Morbi volutpat dui ut quam suscipit pharetra. Curabitur porta mi magna, quis vulputate felis rutrum quis. Phasellus nisi nisl, molestie sit amet est ac, feugiat consectetur dui. Sed viverra arcu placerat, pharetra ante ac, tempus tellus. Pellentesque eu luctus enim. Aliquam consequat eu nisi ac ultricies. Vestibulum ut arcu ac nibh lacinia congue. Nunc lacinia libero cursus porta malesuada. Nam convallis, erat sit amet interdum auctor, libero ipsum gravida risus, eu volutpat sapien ante vitae nulla. Nam commodo tempus lorem commodo aliquam. Integer eget diam ut quam gravida dignissim. Vivamus consequat id dui et imperdiet. Mauris vulputate sodales ipsum, et pellentesque urna elementum et. Duis non felis eu nulla aliquam tristique. Nullam aliquet, sem in facilisis pulvinar, tellus risus blandit est, sed tincidunt diam nibh et erat.
</p>
<p>
Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean sed sem in lacus ultricies tincidunt. Donec interdum, nisi et bibendum ultricies, arcu turpis pharetra sem, at sagittis nisl lorem et neque. Aliquam at euismod turpis, nec congue urna. Fusce eu sapien felis. Quisque molestie tempor mauris, eu pretium felis accumsan vel. Vestibulum ut mi vitae nunc varius dictum. Vestibulum id rutrum quam.
</p>
<p>
Aliquam erat volutpat. Quisque vitae odio sodales neque pellentesque imperdiet gravida mattis risus. Donec diam nulla, facilisis ac sagittis quis, interdum id est. Aliquam blandit, turpis vitae aliquet molestie, nisl libero semper nisi, sit amet tristique purus ligula laoreet enim. Aenean ac ligula a dui consectetur fermentum ac et ipsum. Mauris aliquam, tortor sed suscipit vestibulum, purus sem luctus est, vel pellentesque ligula arcu ut urna. Suspendisse accumsan, arcu in dapibus faucibus, eros odio faucibus metus, vitae fringilla metus augue at risus. Ut cursus gravida tristique. Integer adipiscing velit ac ultricies consequat. Suspendisse potenti. Aliquam consectetur tortor sed lectus interdum, id fermentum leo tempor. Nunc quis mi vitae tellus mollis mollis vitae ut lacus. Nunc at risus rutrum, posuere neque eget, bibendum est.
</p>
<p>
Duis vitae felis in nunc condimentum condimentum. Fusce quis sagittis tellus. Nunc euismod vestibulum posuere. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi at magna non dolor dapibus dapibus quis et sapien. Sed ac euismod ante, vel malesuada nunc. Mauris ut justo non eros suscipit placerat. Integer urna risus, fermentum vitae ullamcorper quis, semper et mauris. Phasellus adipiscing quis lorem vestibulum iaculis. Vivamus ligula lectus, faucibus vel pulvinar eu, faucibus vel odio. Mauris facilisis, neque quis sagittis suscipit, ipsum risus sodales mauris, condimentum dignissim enim nisi vitae arcu. Vivamus vehicula, nisl sit amet ultricies tincidunt, diam dolor mattis lorem, eu mollis quam neque non felis. Sed sed erat at eros elementum volutpat. Integer ullamcorper, purus vel convallis laoreet, metus justo luctus tortor, in auctor tortor libero ac lacus. Suspendisse a est nec libero tincidunt faucibus. Quisque quis sollicitudin ligula.
</p>
<p>
Nullam feugiat nisl risus. Nulla rutrum posuere hendrerit. Quisque gravida ultricies purus, at dictum tellus hendrerit at. Vestibulum id lacus tempus, blandit dolor sed, suscipit arcu. Etiam et vulputate lectus. Nunc nec erat ullamcorper, pulvinar ante et, viverra lectus. Donec lobortis luctus tempus. Sed fermentum nisi et magna dapibus, sit amet aliquam erat placerat. Quisque elit nulla, imperdiet eget laoreet eu, tempor quis nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer dolor nulla, interdum eu adipiscing sed, fermentum in eros. Suspendisse consectetur risus non dui lobortis dignissim. Nunc fermentum venenatis lorem quis interdum. Nullam interdum dignissim lectus eu placerat.
</p>
<p>
Morbi scelerisque tortor eu mauris blandit, eget pretium diam laoreet. Curabitur quis lacus rhoncus, suscipit neque id, lobortis metus. Phasellus ultrices auctor tempor. Proin ac aliquet enim. Vivamus pellentesque, dolor ut lacinia venenatis, leo metus ultricies nunc, ac ullamcorper lorem mauris vitae lorem. Duis sem nunc, imperdiet eget arcu nec, consectetur gravida ante. Duis facilisis ante quis lectus consequat, eu varius mauris imperdiet. Praesent a nunc quis massa dictum dictum in vitae odio.
</p>
<p>
Donec sit amet quam eget risus euismod commodo. Duis fermentum eros ut porttitor consectetur. Nunc convallis turpis a tortor condimentum condimentum. Morbi sit amet sapien non purus lobortis ultrices. Vestibulum quis condimentum est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris libero nunc, ultrices quis quam vitae, dignissim egestas sapien. Fusce sed ullamcorper nibh, vitae facilisis turpis. Pellentesque quis lectus ac sem faucibus auctor a sed odio. Aliquam euismod purus vel mauris volutpat iaculis. Morbi elementum magna urna, in congue massa imperdiet ac. Nunc vitae neque vel tellus condimentum suscipit quis eget tortor. Ut auctor, erat a facilisis dapibus, purus nulla tincidunt nisl, vitae accumsan metus tortor id sem.
</p>
<p>
Donec ligula arcu, ornare et risus eu, suscipit tristique ligula. Nulla lobortis pulvinar egestas. Etiam sollicitudin fermentum orci, eget accumsan justo pulvinar sed. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer felis orci, dignissim ut ligula vel, scelerisque rutrum sapien. Fusce in urna dapibus, eleifend purus ut, accumsan ligula. Mauris varius mattis lobortis. Donec commodo urna sed sagittis aliquet. Suspendisse potenti. Vivamus sagittis erat at tellus sagittis lobortis. Quisque egestas diam ipsum, in adipiscing nunc sollicitudin eu. Sed hendrerit erat erat, a congue urna mollis in.
</p>

</div>

</body>
</html>